{% if page.title == "Rubize Survey" %}

  <div class="navbar navbar-expand-sm navbar-light bg-white d-flex justify-content-center">
    <a href="{{ site.url }}">
      <img src="/assets/img/rubize-survey.svg" alt="Rubize Survey" height="40px">
    </a>
  </div>

{% else %}

  <div class="navbar navbar-expand-sm navbar-light bg-white d-flex justify-content-center">
    <a href="{{ site.url }}{{ page.permalink }}">
      <img src="/assets/img/rubize-survey.svg" alt="Rubize Survey" height="40px">
    </a>
    <div class="mx-3 lead">x</div>
    <a href="{{ site.url }}{{ page.permalink }}">
      <img src="/assets/img/{{ page.logo }}" alt="{{page.title}}" height="40px">
    </a>
  </div>

{% endif %}
