<div class="navbar navbar-expand-sm navbar-light bg-white d-flex justify-content-between">

  <a href="{{ site.url }}" class="navbar-brand mr-0">
    <img src="/assets/img/rubize-survey.png" alt="Rubize Survey" height="40px">
  </a>

  {% if page.logo %}
    <a href="{{ site.url }}/{{ page.encryption }}" class="navbar-brand mr-0">
      <img src="/assets/img/{{ page.logo }}" alt="{{page.logo}}" height="40px">
    </a>

  {% else %}
    <button type="button" class="btn btn-primary d-none d-sm-inline" data-toggle="modal" data-target="#loginbox">
      Accéder à vos enquêtes
    </button>
  {% endif %}


</div>
